{% extends 'layout.html.twig'%}

{% block information %}
	<div> 
	    <h2> Information </h2>
	        <p> 
	        Le musée du louvre est ouvert tous les jours sauf:
	        <br>
	        les mardis, dimanches et jours fériés.
	        </p>
	</div>
{% endblock %}

{% block infostock %}
   <div>
                <p>
                    <strong> Info stock: </strong>
                    il reste suffisament de billets pour la date choisie.
                </p>
            </div>
{% endblock %}

{% block formulaire %}
            <div class="card bg-secondary border-secondary">
        <!-- choix du jour  -->
                <form name="booking" method="post" id="myBooking">  
                    <div class="card-title">
                        <label for="choiceBookingDate">Jour de la visite</label> 
                        <input id="datepicker" width="276" id="choiceBookingDate" />
                        
                        <script>
                            $('#datepicker').datepicker({
                            	
                            	todayHighlight: true,
                            	disableDaysOfWeek: [2, 6],
                            	disableDates: [121, 305, 359],
                            	uiLibrary: 'bootstrap4',

                            });
                        </script>
                    </div>
                </form>
        <!-- nombre de billet  -->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nombre de Billet Adulte </label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                	<option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nombre de Billet Enfant</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                	<option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nombre de Billet Senior</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                	<option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <!--si activé faire apparaitre la mention "que la personne devra présenter un justificatif" -->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nombre de Billet tarif Réduit *</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                	<option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
        
        <!-- choix du billet  -->
               	<div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Type de Billet</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                	<option value="1">Billet journée</option>
                    <option value="1">Billet demi-journée</option>
                </select>
        
        <!--valider le nombre de billet  -->
                <button type="button" class="btn btn-success" > <a href="{{ path ('reservation')}}"> suivant </a></button>

        
            </div>
        {% endblock %}



