{% extends 'layout.html.twig'%}

{% block head %}

    <title> {{ "Booking" |trans }} </title>

{% endblock %}



{% block reservation %}

    <div class="well">
        {{ form(form) }}
    </div>


{% endblock %}