<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset ('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/style.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


        <!--jQuery UI Datepicker - Icon trigger</title> -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/jquery.ui.datepicker-fr.js"></script>

        <![endif]-->
        {% block head %} {% endblock %}
        <link rel="icon" type="image/png" src="{{ asset ('images/ico02.png')}}"/>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="thumbnail text-center">
                    <img src="{{ asset ('images/louvre2.jpg')}}" alt="louvre coucher" class="img-responsive"/>
                    <div class="caption col-lg-12">
                        <p id="welcome-text">Billetterie du musée du Louvre</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% block infostock %}{% endblock %}
            </div>
            <div class="row">
                <div class="col-sm-8" class="text-center" >
                    <!-- formulaire  -->
                    {% block body %}{% endblock %}
                </div>
                <div class="col-sm-4" class="text-center" >
                    {% block information %}{% endblock %}
                    <h4 >Tarification : </h4>
                    <div class="col-lg">
                        <ul class="list-group">
                            <li class="list-group-item">Normal : 16€ (à partir de 12 ans)</li>
                            <li class="list-group-item">Enfant : 8 € (pour les 4 à 12 ans)</li>
                            <li class="list-group-item">Sénior : 12€ (à partir de 60 ans)</li>
                            <li class="list-group-item">Réduit : 10€ (étudiants, employés du musée, militaires)</li>
                            <li class="list-group-item">Billet demi-journée : 10€ (à partir de 14h)</li>
                            <li class="list-group-item">Gratuit pour les moins de 4 ans</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
